<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.boostmyshop.eu/media/catalog/product/cache/5/image/265x/9df78eab33525d08d6e5fb8d27136e95/b/o/boost-my-shop-universal-password-for-magento.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Tu nueva contraseña</h5>
    <p class="card-text"><?php
	echo $passw;
	?></p>
   <div><?= $this->Html->link(__('Entendido'), ['action' => 'login'],['class'=>'btn btn-outline-info']) ?></div>
  </div>
</div>
