<?php echo $this->Form->create(); ?>
<fieldset>
        <legend>
            <?php echo __('Recuperar contraseña'); ?>
        </legend>
        <?php echo $this->Form->input('email');
        echo $this->Form->submit('Enviar contraseña', array('class'=>'btn btn-success'));
    ?>
    </fieldset>
<?php echo $this->Form->end(); 
?>